NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=generate-a-random-secret-here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_ID=
GITHUB_SECRET=
NEXT_PUBLIC_API_URL=http://localhost:8000
AUTH_DISABLED=true
NEXT_PUBLIC_AUTH_DISABLED=true
NEXT_PUBLIC_HAS_GOOGLE=
NEXT_PUBLIC_HAS_GITHUB=
NEXT_PUBLIC_HIRE_ME_URL=https://github.com/NevilPatel01
