@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-zinc-950 text-zinc-300 antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}
